n8n/task_reminder_workflow.json
{
  "name": "Daily Task Reminder",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "http-request",
      "name": "Fetch Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_API_URL }}/api/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.ADMIN_JWT_TOKEN }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-transform",
      "name": "Filter Overdue Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "language": "javascript",
        "code": "// Filter tasks that are not completed and have a due date today or in the past\nconst tasks = $input.all();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst pendingTasks = tasks.filter(task => {\n  if (!task.dueDate || task.status === 'completed') return false;\n  const due = new Date(task.dueDate);\n  return due <= today;\n});\n\n// Format as items for the next node\nreturn pendingTasks.map(task => ({\n  json: {\n    title: task.title,\n    dueDate: task.dueDate,\n    status: task.status,\n    priority: task.priority,\n    owner: task.user?.name || 'Unknown'\n  }\n}));\n"
      }
    },
    {
      "id": "if-node",
      "name": "Any Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items.length }}",
              "operation": "larger",
              "value2": 0
            }
          ],
          "options": {
            "leftValue": "",
            "rightValue": ""
          }
        }
      }
    },
    {
      "id": "html-template",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 2,
      "position": [1050, 200],
      "parameters": {
        "html": "<h2>📋 Task Reminder</h2>\n<p>You have <strong>{{ $items.length }}</strong> task(s) that need attention:</p>\n<ul>\n{{ $items.forEach(item => {\n  return `<li><strong>${item.json.title}</strong> — Due: ${new Date(item.json.dueDate).toLocaleDateString()} — Priority: ${item.json.priority}</li>`;\n}) }}\n</ul>\n<hr>\n<p style=\"color: #888;\">Automated reminder from your Task Management System.</p>\n"
      }
    },
    {
      "id": "email-send",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 200],
      "parameters": {
        "fromEmail": "{{ $env.SMTP_FROM }}",
        "toEmail": "{{ $env.ADMIN_EMAIL }}",
        "subject": "Task Reminder — Pending Tasks Due",
        "html": "={{ $json.html }}",
        "options": {}
      }
    },
    {
      "id": "noop-end",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Tasks": {
      "main": [
        [
          {
            "node": "Filter Overdue Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Overdue Tasks": {
      "main": [
        [
          {
            "node": "Any Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Tasks?": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}
